
#logo{
	margin:0 auto;
    text-align: center;
}

.Content{
	width:100%;
}
#form{
	width:100%;
}
label{
	font-weight: bold;

}
#login {
 width:inherit;
 background-color: green;
 border-color:green;
  height:30px;
 margin-top: 10px;
 margin-bottom: 10px;
}
input[type=text], input[type=password]{
  margin-top:5px;
 }

 #footer{
 	margin-top:30px;
    display: block;
    padding: 10px;
    height: 50px;
 	background-color: lightgrey;
 }

 #forgot{
 	float:right;
 }
 #cancel{
 	background-color: #ff4d4d;
 	border-color: #ff4d4d;
 	width:60px;
 	height: 40px;
 }